* {
  margin: 0;
}

body {
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgb(190, 116, 3),
    rgb(211, 129, 7)
  );
  font-family: monospace;
  color: white;
}

h1 {
  margin: 15px;
  font-size: 3rem;
  text-align: center;
}

.game-settings {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-around;
}

.btn {
  background: rgba(211, 129, 7, 0);
  border: 1px solid white;
  color: white;
  padding: 20px 30px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.output {
  height: 40px;
  font-size: 1.5rem;
}

.game-board {
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.square {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:nth-child(3n + 2) {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.square:nth-child(n + 4):nth-child(-n + 6) {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

button {
  margin-top: 15px;
}

.hide {
  display: none;
}
